@import 'config';

h1 {
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition: transform ease 1s;
  width: 100%;

  &-title {
    background-image: url('tiger.jpg');
    color: #fff;
    text-align: center;
    width: 100%;
  }

  &-body {
    background-color: #f2f3f4;
    border: 1px solid #000;
    height: 100%;
  }
}

.card:hover {
  transform: scale(0.8);
}

.nd {
  text-align: center;
}

.img {
  height: 100%;
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
  }
}

h6 {
  font-size: 1.4em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.calcs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &-Big {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  &-Big:last-child {
    border-top: 1px solid #000;
  }
}

.calcs:nth-child(-2n+3) {
  border-bottom: 1px solid #000;

  h6 {
    margin-bottom: 0.5em;
  }
}


a {
  text-decoration: none;
}


